<h1>Add a new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_name">Parcel name</label>
    <input id="n" name="parcel_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="parcel_width">Parcel width</label>
    <input id="n" name="parcel_width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="parcel_length">Parcel length</label>
    <input id="n" name="parcel_length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="parcel_height">Parcel height</label>
    <input id="n" name="parcel_height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="parcel_weight">Parcel weight</label>
    <input id="n" name="parcel_weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add a parcel</button>
</form>
